@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    header {
        @apply z-50 fixed top-0 left-0 right-0 bg-white;
    }
}

.linear-background {
    @apply bg-gradient-to-r from-LimeGreen to-BrightCyan
}

.ficon:hover {
    filter: invert(39%) sepia(88%) saturate(1050%) hue-rotate(104deg) brightness(101%) contrast(97%);
  }
  

.hamburger {
    cursor: pointer;
    width: 22px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 22px;
  height: 3px;
  top: 0;
  left: 0;
  background: hsl(233, 26%, 24%);
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: hsl(233, 26%, 24%);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}
  
.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
    background-color: hsl(233, 26%, 24%);
}
  
.open .hamburger-middle {
    display: none;
}
  
.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
    background-color: hsl(233, 26%, 24%);
}

